@font-face {
    font-family: 'PixelFont';
    src: url('./fonts/pixel.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/inter.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PixelFont', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #000; /* Added to ensure contrast */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.17);
}

.black-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
}

.blogText {
    /* position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; */
    color: white;
}

.titleContent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.photos {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    overflow-y: auto;

}

.header {
    margin-top: 2em;
}

.header .title {
    font-size: 9vw; /* Use viewport width to make it responsive */
    margin: 0.5em 0;
}

.header .subheader {
    font-size: 4vw; /* Use viewport width to make it responsive */
    margin: 0;
}

/* Media query to stop scaling after 800 pixels */
@media (min-width: 660px) {
    .header .title {
        font-size: 60px !important; /* Fixed size for screens wider than 800px */
        content: "";
    }
    
    .header .subheader {
        font-size: 27px !important; /* Fixed size for screens wider than 800px */
    }
}


.brown-uni {
    color: #B68844;
}

.button-container {
    margin-bottom: 2em;
    font-family: 'PixelFont', sans-serif;
}

.button-container button {
    font-family: 'PixelFont', sans-serif;
}

.button-container a button {
    font-family: 'PixelFont', sans-serif;
}

/* .button-container button {
    background-color: #EEC17D;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 11px;
    font-family: 'PixelFont', sans-serif;
} */

/* .button-container button:hover {
    background-color: #ec971f;
} */

.header .t1 { color: #ff0000; }  /* Red */
.header .e1 { color: #ff8000; }  /* Orange */
.header .t2 { color: #ffff00; }  /* Yellow */
.header .r { color: #00ff00; }   /* Green */
.header .i { color: #0000ff; }   /* Blue */
.header .s { color: #800080; }   /* Purple */


/* https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
    /* top: -2px;
    left:-2px; */
    background-size: 400%;
}

.glow-on-hover span {
    font-size: 1.2em;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 55s linear infinite;
    opacity: 1;
    transition: all 1s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


#main-button {
    /* left: 0;
    right: 0;
    margin: auto; */
    position: absolute;
    left: 50%; /* Centers the button horizontally */
    transform: translate(-50%, -50%);
    width: 220px;
    height: 50px;
}


.button-container {
    /* position: relative; */
    /* left: 50%;
transform: translateX(-50%); */
/* left: calc(-30%);
bottom: 8%; */
    width: 1vw;
    margin-bottom: 15%;
}

.button-container button.show {
    opacity: 0;
}

.button-container a button.show {
    opacity: 0;
}

.arc {
    position: absolute;
    left: 50%; /* Centers the button horizontally */
    transform: translate(-50%, -50%);
    padding: 1px;

    transition: all 0.5s;
    width: 75px;
    height: 50px;

    cursor: pointer;
    backface-visibility: hidden;
}

.arc span {
    cursor: pointer;
}

.arc-1 {
    transform: translate(calc(-50% - 90px), calc(-50% - 70px)) rotate(-15deg);
}

.arc-2 {
    transform: translate(calc(-50% - 0px), calc(-50% - 100px));
}

.arc-3 {
    transform: translate(calc(-50% + 90px), calc(-50% - 70px)) rotate(15deg);
}

#container {
    overflow-y: auto;
}

.blog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.6);
}

.blogText {
    font-family: Inter,system-ui,sans-serif;
    text-align: left;
    padding: 10%;
}

.blogText a {
    color: #9894F9;
}

.blogText h1 {
    padding-bottom: 20px;
    border-bottom: solid 1px #e1e1e1aa;
}

.blogText h2 {
    padding: 5px;
    background-color: #9794f968;
    width: fit-content;
    border-radius: 10px;
}

.blogText img {
    /* width: 300px; */
    /* width: -webkit-fill-available; */
    border: 0px solid black;
    display: block;
    margin: 0 auto;
}

#goback {
    position: absolute;
    width: 40px;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 9000;
    }

.iframeParent iframe {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    img {
        width: -webkit-fill-available;
        object-fit: scale-down;
    }

    iframe {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.6em;
    }

    #goback {
        width: 25px;
        padding-left: 5px;
    }
}

code {
    background-color: #3f3f46;
    /* padding: .2em 0; */
    padding-right: 5px;
    padding-left: 5px;
    margin: 1px;
    font-size: 85%;
    border-radius: 3px;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    color: rgb(212, 212, 216);
}


blockquote {
    border-left-color: #71717a;
    color: #a1a1aa;
    border-left: 3px solid;
    padding: 0 1em;
}

/* pre {
    background-color: #303036;
    background-color: #282c34;
    padding: 4px;
    border-radius: 4px;
    overflow: auto;
}

code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
    overflow: visible;
} */


pre {
    word-wrap: normal
}

pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border:0
}



pre code, pre tt {
    /* display: inline; */
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}






table {
    border-color: #52525b;
    border-radius: 4px;
    border: 1px solid;
    width: fit-content;
}

thead {
    border-left: none;
}

thead tr {
    border-bottom: 1px solid;
border-top: none;
background-color: #303036;
border-bottom-color: #52525b;
}

thead tr th {
    padding-left: 5px;
    padding-bottom: 5px;
}

thead tr th:first-child{
    border-left: none;
}

thead tr th {
    border-top: none;
}

table td {
    padding: 6px 13px;
/* border-right: none;
border-bottom: none;
border-left: 1px solid;
border-top: 1px solid; */
}


tbody tr {
    background-color: #27272a;
    border-top: none;
}

tbody tr:first-child{
    border-left: none;
}